#loading {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.5);
}
#loading > img {
  //width: inherit;
  position: absolute;
  top: 48%;
  left: 48%;
  width: 4%;
}

body {
  font-family: "Roboto Flex", sans-serif;
  text-align: left;
  line-height: 1.5;
}
@media only screen and (max-width: 450px) {
  body {
    line-height: 1.2;
  }
}

/* This menu is copied over from arnaoutlab.org and most
of its styling is governed by the stylesheet there.
However, there's a bit of a collision of positioning decisions,
patched up here:
*/
div#menu {
  top: 0px;
  left: 0px;
  z-index: 5000;
}

header,
div.antigen_text {
  max-width: 46em;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

h1.comparisons {
  font-weight: 300;
  fint-size: 36px;
}

h1.antigen {
  font-weight: 300;
  fint-size: 36px;
}

h2 {
  color: #333;
  font-weight: 500;
  font-size: 22px;
  /* text-align: center; */
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  margin: 0;
}

h3 {
  color: #000;
  font-weight: 600;
  font-size: 32px;
  padding-top: 1em;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  margin: 0;
  line-height: 1.2em;
}

p.body_text {
  color: #444;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 1.5em;
}

@media only screen and (max-width: 40em) {
  .h3,
  p.body_text,
  h1 {
    padding-left: 22px;
    padding-right: 22px;
  }
}
.too_many_groups {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  grid-area: max80emContent;
  padding-bottom: 10px;
}
.has_bottom_line {
  /* border-bottom: 1px solid #dfdfdf; */
}
.pickgroup > fieldset {
  max-width: 76em;
  margin-left: auto;
  margin-right: auto;
  /* margin: 1em auto 2em; */
}
#select_var {
  columns: 4;
}
.group_variable_div {
  padding-top: 20px;
  padding-right: 10px;
}

#select_var_label {
  text-align: center;
  margin: auto;
  padding: 0.75em;
  border: 2px solid;
  background-color: #eee;
}
#select_var > div {
  break-inside: avoid-column;
}

.max80em {
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  grid-template-areas: ". max80emContent .";
}

@media only screen and (max-width: 82rem) {
  .max80em {
    grid-template-columns: 1fr 60rem 1fr;
  }
}

@media only screen and (max-width: 62rem) {
  .max80em {
    grid-template-columns: 1fr 40rem 1fr;
  }
}

@media only screen and (max-width: 42rem) {
  .max80em {
    grid-template-columns: 30px 1fr 30px;
  }
}

.max80emSplit {
  display: grid;
  grid-template-columns: 1fr 60rem 20rem 1fr;
  grid-template-areas: ". max80emLeftContent max80emRightContent .";
}

@media only screen and (max-width: 92rem) {
  .max80emSplit {
    grid-template-columns: 1fr 40rem 20rem 1fr;
  }
}

@media only screen and (max-width: 68rem) {
  .max80emSplit {
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-areas:
      ". max80emLeftContent ."
      ". max80emRightContent .";
  }
  .rightContentFirst {
    grid-template-areas:
      ". max80emRightContent ."
      ". max80emLeftContent .";
  }
}

@media only screen and (max-width: 44rem) {
  .max80emSplit {
    grid-template-columns: 30px 1fr 30px;
  }
}

.comparisons {
  text-align: center;
  grid-area: max80emContent;
  padding-top: 10px;
}
.ylabeldiv {
  transform: translate(-10px, 0px);
}
.ylabel {
  font-size: 24px;
  font-weight: 200;
}
.xlabel {
  font-size: 24px;
  font-weight: 200;
}
@media only screen and (max-width: 440px) {
  .ylabel,
  .xlabel {
    font-size: 12px;
  }
}
.exponentlabel {
  font-size: 16px;
  font-weight: 200;
  color: #333;
}

/*
meantext should always be same height as displaybox.
Note that both meantext and displaybox have width: 100%
so their widths are determined by the grid.
Default grid allots some fraction of the width to the displaybox and
some fraction to the meantext (note the use of the 'fr' unit)
and thus the width of meantext proportional to that of displaybox.
The aspect-ratio of meantext and displaybox are set to be such
that they result in the same height. Be sure to change the
aspect-ratio here if the grouphisto grid changes, or if the aspect-ratio
of displaybox changes!!!
*/
.meantext {
  /* display:flex; */
  /* align-items:center; /* flex-end; */
  width: 100%;
  grid-area: max80emRightContent;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 20px;
}

@media only screen and (max-width: 72em) {
  .meantext {
    aspect-ratio: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.pyramid_placeholder {
  grid-area: max80emLeftContent;
  display: grid;
  grid-template-columns: 2fr 40em 1fr;
  grid-template-areas: ". pyramid .";
}
@media only screen and (max-width: 44rem) {
  .pyramid_placeholder {
    grid-template-columns: 1fr;
    grid-template-areas: "pyramid";
  }
}

.pyramid {
  grid-area: pyramid;
}
.plegend {
  width: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  grid-area: max80emRightContent;
  font-size: 18px;
  /* padding-bottom: 1.5em; */
  line-height: 1.4em;

  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content:center; */
}
@media only screen and (max-width: 72em) {
  .plegend {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
  }
}
#plegend {
  /* the colorbar */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
.statistics {
  font-size: 24px;
  font-weight: 600;
  padding-right: 0.15em;
}
@media only screen and (max-width: 72em) {
  .statistics {
    font-size: 16px;
  }
}
select {
  margin: 4px;
}

legend {
  font-weight: bold;
}
input.variablename {
  margin-right: 0.6em;
}
label.variablename {
  font-weight: bold;
}
input.valuename {
  margin-left: 2em;
  margin-right: 0.6em;
}
.valuename {
  text-indent: -2em;
}
#pyramid_container {
  margin: 1em;
}
#pyramid {
  aspect-ratio: 1;
  overflow: visible;
  pointer-events: none;
  position: relative;
  z-index: -1;
  /*    border: solid; */
}

.plegend_text {
  padding-bottom: 1.5em;
}

.bluebutton {
  border: none;
  padding: 2px 6px;
  margin: 4px 6px;
  background-color: #0099ff;
  color: white;
  border-radius: 4px;
}

.download {
  font-size: 0.75em;
  padding: 2px 6px;
  margin: 4px 6px;
  background-color: #0099ff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.pickanti {
  color: #444;
  max-width: 60em;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "select_antigen select_lod";
}
.select_antigen {
  grid-area: select_antigen;
}
.select_lod {
  grid-area: select_lod;
}
.no_border {
  border: none;
  margin: 1em;
}
.select_antigen {
  width: 80%;
}
.antihisto_title {
  grid-area: max80emContent;
}

.group_radio {
  grid-area: max80emContent;
  max-width: 46em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5em;
}
.radio_button_label {
  margin-right: 1em;
}
.performance_commentary {
  grid-area: max80emRightContent;
  font-size: 18px;
  padding-bottom: 1.5em;
}

#moresettings {
  max-width: 46em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 1.5em;
}

.select_label_antigen {
  grid-area: select_label_antigen;
}

.select_antigen {
  grid-area: select_antigen;
}

.hidden_style {
  display: none;
}

footer {
  max-width: 46em;
  margin: auto;
  padding-bottom: 10em;
}

@media only screen and (max-width: 1200px) {
  #select_var {
    columns: 3;
  }
}

@media only screen and (max-width: 900px) {
  #select_var {
    columns: 2;
  }
}

@media only screen and (max-width: 600px) {
  #select_var {
    columns: 1;
  }
}

.conclusiontext {
  font-size: 20px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  line-height: 1.7em;
}
.comm_part2 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
.group1noun {
  font-size: 18px;
  font-weight: 600;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
.group2noun {
  font-size: 18px;
  font-weight: 600;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
.comm_part4 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
@media only screen and (max-height: 900px) {
  .comm_part2 {
    font-size: inherit;
  }
  .comm_part4 {
    font-size: inherit;
  }
}
.nodata {
  font-size: 40px;
  font-weight: 300;
}
.bold {
  color: #000;
  font-weight: 600;
}
summary {
  padding-bottom: 1em;
}
.email {
  font-weight: 600;
}
a.link {
  font-weight: 600;
  color: #992626;
  text-decoration: none;
}
a.download {
  hover: #fff;
  color: #fff;
}
a.download:hover {
  color: #fff;
}
.ag_test_group {
  font-size: 18px;
  font-weight: 600;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
